body{
    background-color: navy;
}
a{
    color:black;
}
#fact{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
  
    min-height:100vh;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(350deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 800%, rgba(255,255,255,1) 100%); 
}

#next{
    display:inline-block;
    position:absolute;
    bottom:8%;
    right:2%
}
nav{
    box-shadow: 10px -2px 7px gray
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}